<%- include('partials/head', {current:'/'});%>
<main class="overview-grid">
    <h2 class="page-title">Overview</h2>
    <article class="stakeholder Clients">
        <a href="/stakeholder" class="btn"> + Add Clients </a>
        <h3> Clients </h3>
        <% stakeholder.forEach(function(item) { %>
            <p> <%= item.name %> </p>
        <% }) %>
    </article>
    <article class="stakeholder Staff">
        <a href="/stakeholder" class="btn"> + Add Staff </a>
        <h3> Staff </h3>
        <% stakeholder.forEach(function(item) { %>
            <p><%= item.name %></p>
        <% }) %>
    </article>
    <article class="stakeholder Suppliers">
        <a href="/stakeholder" class="btn"> + Add Supplier </a>
        <h3> Suppliers </h3>
        <% stakeholder.forEach(function(item) { %>
            <p> <%= item.name %> </p>
        <% }) %>
    </article>
    <article class="stakeholder Environment">
        <a href="/stakeholder" class="btn"> + Add Environment </a>
        <h3> Environment </h3>
            <% stakeholder.forEach(function(item) { %>
        <p> <%= item.name %> </p>
        <% }) %>
    </article>
    <section class="overview">
        <h3>Overview</h3>
        <p>Overview komt hier</p>
    </section>
    <article class="update">
        <h3>Latest Updates</h3>
        <p class="update-item"> Iron man - 20.23: scored SDG`s for a</p>
        <p class="update-item"> Iron man - 19.51: scored SDG`s for lol</p>
        <p class="update-item"> Iron man - 19.20: scored SDG`s for joi</p>
        <p class="update-item"> Iron man - 19.03: scored SDG`s for joi</p>
        <p class="update-item"> Iron man - 18.23: Added a as a stakeholder</p>
        <p class="update-item"> Iron man - 18.21: Added lol as a stakeholder</p>
        <p class="update-item"> Iron man - 18.10: Added joi as a stakeholder</p>
        <p class="update-item"> Iron man - 18.03: Added joi as a stakeholder</p>
        <p class="update-item"> Iron man - 17.02: Finished Account Set Up</p>
    </article>
</main>
</div>
</body>
</html>