<%- include('partials/head', {current:'/sdg'});%>
<main class="sdg-container">
	<div >
	<h2> Select your SDG`s here</h2>
	<p id="count">0 checkboxes selected</p>
	</div>
	<script defer src="script.js"></script>
	<section>
		<form method="POST" action="score">
			<% sdgs.forEach(function(sdg) { %>
			<label>
			<input type="checkbox" class="checkbox" tabindex="0" name="sdg" value="<%= sdg.number%>">
			<picture class="sdg">
				<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=avif&eight=450&width=450" type="image/avif">
				<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp&eight=450&width=450" type="image/webp">
				<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" class="sdg-img">
			</picture>
			</label>
			<% }) %>
			<div class="wrapper">
				<input type="submit" value="Submit" class="submit-btn">
			</div>
		</form>
	</section>
</main>
</div>
<div id="blob"></div>
<div id="blob-blur"></div>
</body>
</html>