<%- include('partials/head') %>
<main>
<h2> Select your SDG`s here</h2>
<p id="count">0 checkboxes selected</p>
<script defer src="script.js"></script>
<link rel="stylesheet" href="sdg.css">
<section class="sdg-container">
	<form method="POST" action="score">
		<% sdgs.forEach(function(sdg) { %>
			<label>
				<input type="checkbox" class="checkbox" tabindex="0" name="sdg" value="<%= sdg.number%>">
				<picture>
					<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=avif" type="image/avif">
					<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp" type="image/webp">
				<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" class="sdg" height="100" width="100">
			</picture>
			</label>
			<% }) %>
				<input type="submit" value="Submit" class="btn">
	</form>
</section>
</main>
</div>